.header-container {
	text-align: center;
}

#board {
	width: 550px;
	/* margin: auto; */
}

.moves-container {
	border: solid 1px lightgray;
    margin-bottom: 10px;
    padding: 10px;
    height: 500px;
	overflow: scroll;
	text-align: center;
}

.move-element {
	display: inline-block;
    padding: 2px 5px;
    border: solid 1px grey;
    margin: 5px;
	border-radius: 10px;
	cursor: pointer;
}

.move-element:hover {
	background-color: lightgrey;
}

.buttons-container {
	display: flex;
	justify-content: space-between;
}

.color {
	background-color: lightgray;
}

.start-element {
	background-color: lightgreen;
}