<div class="header-container">
	<h1>Match moves</h1>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div id="board"></div>
		</div>
		<div class="col-md-6">
			<div class="moves-container">
				<span class="move-element" [ngClass]="{'color': currentMoveIndex === -1}"
					(click)="onStartClick()">start</span>
				<span class="move-element" *ngFor="let move of moves; let i = index"
					[ngClass]="{'color': currentMoveIndex === i}" (click)="onMoveClick(i)">{{move.san}}
					{{move.time}}</span>
			</div>
			<div class="buttons-container">
				<button class="btn btn-dark btn-lg" [ngClass]="{'disabled': isPrevDisabled}" (click)="onPrevClick()">
					<fa-icon [icon]="faStepBackward"></fa-icon>
					prev
				</button>
				<span class="middle-element" *ngIf="moves[currentMoveIndex]">{{moves[currentMoveIndex].time}}</span>
				<span class="middle-element" *ngIf="currentMoveIndex === moves.length">{{match.winner === 'b' ? 'black won' : (match.winner === 'w' ? 'white won' : match.result)}}</span>
				<button class="btn btn-dark btn-lg" [ngClass]="{'disabled': isNextDisabled}" (click)="onNextClick()">
					next
					<fa-icon [icon]="faStepForward"></fa-icon>
				</button>
			</div>
		</div>
	</div>
</div>