<div class="header-container">
	<h1>Match moves</h1>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div id="board"></div>
		</div>
		<div class="col-md-6">
			<div class="moves-container">
				<span class="move-element start-element" (click)="onStartClick()">Start</span>
				<span class="move-element" *ngFor="let move of moves; let i = index"
					[ngClass]="{'color': currentMoveIndex === i}"
					(click)="onMoveClick(i)">{{move.san}} {{move.time}}</span>
			</div>
			<div class="buttons-container">
				<button class="btn btn-dark btn-lg" [ngClass]="{'disabled': isPrevDisabled}" (click)="onPrevClick()">
					<fa-icon [icon]="faStepBackward"></fa-icon>
					prev
				</button>
				<span class="move-time">{{moves[currentMoveIndex] && moves[currentMoveIndex].time || ''}}</span>
				<button class="btn btn-dark btn-lg" [ngClass]="{'disabled': isNextDisabled}" (click)="onNextClick()">
					next
					<fa-icon [icon]="faStepForward"></fa-icon>
				</button>
			</div>
		</div>
	</div>
</div>