<div class="header-container">
	<h1>Matches history</h1>
</div>
<div class="container">
	<div class="row match-row" *ngFor="let match of matches$ | async" (click)="onMatchClick(match['_id'])">
		<div class="col-3">
			<div>
				<img src="assets/img/white.png" alt="image">
				<span>{{match.whiteP === profile.sub ? profile.name : 'anonymous'}}</span>
			</div>
			<div>
				<img src="assets/img/black.png" alt="image">
				<span>{{match.blackP === profile.sub ? profile.name : 'anonymous'}}</span>
			</div>
		</div>
		<div class="col-5">
			<div>
				<span class="label">Start: </span>
				<span>{{match.startTime || '-'}}</span>
			</div>
			<div>
				<span class="label">End: </span>
				<span>{{match.endTime || '-'}}</span>
			</div>
		</div>
		<div class="col-2">
			<div class="label">Total time</div>
			<div>{{match.totalTime || '0'}} min</div>
		</div>
		<div class="col-2">
			<div class="label">Result</div>
			<div *ngIf="match.result">{{match.result}}</div>
			<img class="winner" *ngIf="match.winner === 'w'" src="assets/img/white.png" alt="image">
			<img class="winner" *ngIf="match.winner === 'b'" src="assets/img/black.png" alt="image">
		</div>
	</div>
</div>