<nav class="navbar navbar-expand navbar-dark bg-dark">
	<span>
		<fa-icon [icon]="faChess" size="2x"></fa-icon>
	</span>
	<a class="navbar-brand" routerLink="/">Chess</a>
		<ul class="nav navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" routerLink="/">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/lobby">Lobby</a>
			</li>
		</ul>
		<ul class="nav navbar-nav pull-right" *ngIf="!auth.isAuthenticated(); else loggedUser">
			<li class="nav-item">
				<a class="nav-link navbar-nav" (click)="auth.login()">Log In</a>
			</li>
		</ul>

		<ng-template #loggedUser dropdown>
			<ul class="nav navbar-nav pull-right">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" dropdown-toggle (click)="toggleDropdown()" id="navbarDropdown"
						role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Profile
					</a>
					<ul class="dropdown-menu dropdown-menu-right" [ngClass]="dropdown" aria-labelledby="navbarDropdown"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<li class="menuitem">
							<a (click)="toggleDropdown()" class="dropdown-item nav-link" routerLink="/profile" style="color: black;">See
								Profile</a>
						</li>
						<li class="menuitem">
							<a (click)="toggleDropdown()" class="dropdown-item nav-link" routerLink="/matches" style="color: black;">Matches
								History</a>
						</li>
						<li class="divider dropdown-divider"></li>
						<li class="menuitem">
							<a class="dropdown-item nav-link" style="color: black;" *ngIf="auth.isAuthenticated()"
								(click)="auth.logout()">Log Out</a>
						</li>
					</ul>
				</li>
			</ul>
		</ng-template>
</nav>