<div (click)="clickRow()" class="row" [ngClass]="{'my-challenge': isMyChallenge}" [ngStyle]="{'border-color': color}">
	<div class="pieces-cell col-3" [ngStyle]="{'background-color': color}">
		<fa-icon [ngStyle]="{'color': challenge.pieces }" [icon]="faChess" size="2x"></fa-icon>
	</div>
	<div class="col-3">Standart</div>
	<div *ngIf="challenge.time; else noTimeSet" class="time-cell">{{challenge.time}}</div>
	<ng-template #noTimeSet>
		<div class="time-cell col-3">-</div>
	</ng-template>
	<div class="col-3">
		<button>
			<fa-icon [icon]="icon" size="lg"></fa-icon>
		</button>
	</div>
</div>