/* You can add global styles to this file, and also import other style files */
::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}
  
::-webkit-scrollbar-thumb {
	background-color: darkgrey; 
	outline: 1px solid slategrey;
	border-radius: 50px;
}