.messages-container {
	border: solid 1px lightgray;
	margin-bottom: 10px;
	padding: 10px;
	height: 460px;
}

img {
	width: 25px;
}

button {
	border: none;
	background: none;
}

.message {
	word-wrap: break-word;
}

.my-message {
	text-align: right;
	color: blue;
}
